:root {
    --dark: #050505;
    --gray: #818181;
}

* {
    padding: 0px;
    margin: 0px;
}

.loptop {
    width: 150px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -48px;
    perspective: 500px;
}


.inner {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    animation: rotate infinite 10s linear;
    cursor: grabbing;
}

/* back screen */
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90px;
    background: var(--dark);
    border-radius: 3px;
    transform-style: preserve-3d;
    box-shadow: inset 0 3px 7px var(--gray);
}

.hinge {
    position: absolute;
    bottom: -6%;
    width: 120px;
    height: 9px;
    z-index: 1;
    background: var(--dark);
}

.hinge2 {
    position: absolute;
    bottom: -11%;
    width: 150px;
    height: 6px;
    background: var(--dark);
    border-top-left-radius: 65%;
    border-top-right-radius: 65%;
    box-shadow: inset 0px -1px 1px -1px var(--gray);
}

.screen .logo {
    position: absolute;
    width: 16px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -6px;
    transform: translateZ(0.1px);
}

/***** finish ******/

/* front screen */
.screen .face-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90px;
    border-radius: 1px;
    transform: translateZ(-0.1px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    background-image: linear-gradient(bottom, #1a1a1a, #040404);
}

.screen .face-one .display {
    width: 142px;
    height: 82px;
    background: url("screen.jpg") no-repeat center center #000;
    background-size: 100% 100%;
    border-radius: 1px;
    border: 0.5px solid #ccc4;
    position: relative;
}


.screen .face-one span {
    position: absolute;
    top: 90px;
    font-size: 5px;
    color: #666;
    letter-spacing: 3px;
    transform: rotateY(180deg);
    font-family: Arial, Helvetica, sans-serif;

}

/***** finish *****/

/* body */
.body {
    display: flex;
    width: 150px;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: -15px;
    border-radius: 3px;
    background: var(--dark);
    box-shadow: inset 0 3px 7px var(--gray);
    transform-style: preserve-3d;
    transform-origin: 50% 95%;
    transform: rotateX(272deg) rotateZ(180deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


.body .keyboard {
    width: 140px;
    display: flex;
    height: 45px;
    border-radius: 4px;
    transform-style: preserve-3d;
    background: #151515;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.body .touchpad {
    display: flex;
    width: 35px;
    height: 25px;
    border-radius: 2px;
    background: #444;
    margin-bottom: 5px;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
}

.body .touchpad::before {
    content: "";
    width: 49%;
    height: 10px;
    background: #444;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: 5px;
}

.body .touchpad::after {
    content: "";
    width: 49%;
    height: 10px;
    background: #444;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.keyboard .key {
    width: 6px;
    height: 6px;
    background: #444;
    float: left;
    margin: 1px;
    transform: translateZ(-2px);
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px #006dffcf;
}

.key.space {
    width: 30px;
}

.key.f {
    height: 3px;
}

.bottom {
    display: flex;
    width: 150px;
    height: 100px;
    position: absolute;
    border-radius: 3px;
    background: var(--dark);
    box-shadow: inset 0 3px 7px var(--gray);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transform: translateZ(0.1px);
}


/* animation */
@keyframes rotate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(-30deg) rotateY(180deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
